<p id="notice"><%= notice %></p>

<h1>Listing Servers</h1>

<table>
  <thead>
    <tr>
      <th>UUID</th>
      <th>Hostname</th>
      <th>Address</th>
      <th>Description</th>
      <th>API Key</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.uuid %></td>
        <td class="tac"><%= link_to server.hostname, server %></td>
        <td class="tac"><%= server.address %></td>
        <td><%= server.description %></td>
        <td class="tac"><%= server.api_key.truncate(16) %></td>
        <td>
          <%= link_to edit_server_path(server) do
          %><span class="icn-gear"></span><% end %>
          <%= link_to server, method: :delete,
            data: { confirm: 'Are you sure to delete server?' } do
          %><span class="icn-bin"></span><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%# vim: set ts=2 sw=2 expandtab: %>
