<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @server.uuid %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @server.hostname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @server.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @server.description %>
</p>

<p>
  <strong>Api key:</strong>
  <%= @server.api_key %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
