<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Mail</th>
      <th>Roles</th>
      <th>Siso UID</th>
      <th>Siso GID</th>
      <th>Siso Active</th>
      <th>Last Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.image, class: 'user-thumbnail' %></td>
        <td class="tac"><%= link_to user.name, user %></td>
        <td class="tac"><%= user.mail %></td>
        <td><%= user.roles %></td>
        <td class="tac"><%= user.siso_uid %></td>
        <td class="tac"><%= user.siso_gid %></td>
        <td class="tac"><%= user.siso_active %></td>
        <td class="tac"><%= user.last_seen %></td>
        <td>
          <%= link_to edit_user_path(user) do
          %><span class="icn-gear"></span><% end %>
          <%= link_to user, method: :delete,
            data: { confirm: 'Are you sure to delete user?' } do
          %><span class="icn-bin"></span><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%# vim: set ts=2 sw=2 expandtab: %>
