<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @log.category %>
</p>

<p>
  <strong>Level:</strong>
  <%= @log.level %>
</p>

<p>
  <strong>Time:</strong>
  <%= @log.time %>
</p>

<p>
  <strong>Service:</strong>
  <%= @log.service %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @log.hostname %>
</p>

<p>
  <strong>Process:</strong>
  <%= @log.process %>
</p>

<p>
  <strong>Message:</strong>
  <%= @log.message %>
</p>

<p>
  <strong>Actor:</strong>
  <%= @log.actor %>
</p>

<p>
  <strong>Action:</strong>
  <%= @log.action %>
</p>

<p>
  <strong>Target:</strong>
  <%= @log.target %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @log.reason %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @log.tag %>
</p>

<p>
  <strong>Client:</strong>
  <%= @log.client %>
</p>

<%= link_to 'Back', logs_path %>
